body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}



#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}

.head-bar {
    background-color: #00FFFF;
    height: 45px;
    line-height: 45px;
    width: 300px;
    text-align: center;
    text-shadow: 1px 1px white;
    text-transform: uppercase;
    
}
.cc{
    font-size: 14px;
}
.page-title{
	text-align: left;
	color: black;
	height: 100px;
	width: 200px;
	padding-left: 10px;
	font-size: 10px;
	text-transform: uppercase;
}
.links {
    color: black;
    background: white;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    height: 120px;
}
.words {
    font-size: 15px;
}
.home-bar{
	color: black;
	height: 20px;
	width: 20px;
	padding-top: 170px;
	padding-left: 0px;
	font-size: 10px;
}
.home {
    padding-top: 276px;
}
.homebody{
    margin-top:-226px;
    font-style: italic;
    margin-left: 10px;
    margin-right: 10px;
    text-align:center;
}

.homebody p
{
    font-style:normal;
}

.home-bar ul {
  list-style-type: none;

  padding-left: 0;
  margin-right: 20px;
  margin-top: 170px;
  overflow: hidden;
  background-color: #333;
  width: 300px;
}

.homebody ul {
    list-style-type: none;
    padding-left: 0;
    font-size:15px;
    padding-bottom: 5px;
}
.homebody li {
    padding-bottom: 5px;
    text-align:center;
    float:none;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font: 10px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #673AB7;
}

