body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
    margin-top: 0px;
    margin-left: 0px;
}

main {
    height: 2315px;
    width: 1500px;
}

.page-title{
	text-align: center;
	color: #673AB7;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 30px;
	margin-bottom:50px;
	text-transform: uppercase;
	background-color: #D8BFD8;
    text-shadow: 1px 1px white;
    width: 1505px;
    height: 150px;

}

.links{
	color: black;
	background: white;
	text-align: center;
	border-style: solid;
	border-width: 4px;
	float: center;
	height: 280px;
	width: 1300px;
	margin-left: 100px;
	margin-top: 10px;
	margin-bottom: 50px;
	padding-top: 40px;
	padding-bottom: 30px;
}

.website {
    margin-top: 5px;
    font-size: 60px;
}

.homebody{
    font-style: italic;
    font-size: 80px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    text-align:center;
}

.homebody p
{
    font-style:normal;
}

.homebody ul {
    list-style-type: none;
    padding-left: 0;
    font-size:15px;
}
.homebody li {
    text-align:center;

}

.words{
	font-size: 50px;
	padding-top: 1px;
	margin-top: 2px;
	margin-bottom: 2px;
    margin-left: 10px;
}

/* Change the link color to #111 (black) on hover */

#embeddedCalc {
    zoom: 400%;
}

.home-bar{
    background-color: #333;
    overflow: auto;
    width: 1505px;
    height: 150px;
    position: relative;
}

.home-bar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 5px 30px;
  text-decoration: none;
  font-size: 80px;
}

/*tax calc*/

.taxwrapper{
    text-align:center;


}
.taxform {
    display: inline-block;
}

/* Change the link color to #111 (black) on hover */
.home-bar a:hover {
  background-color: #111;
}

.home-bar a.active {
  background-color: #673AB7;
}

.inputHeader {
    font-size: 40px;
    text-align: left;
    padding-bottom: 20px;
    padding-top: 10px;
}

input[type=text], select {
    display: compact;
    border: 10px solid #ccc;
    box-sizing: border-box;
    height: 150px;
    width: 500px;
    font-size: 40px;
}

input[type=comment], select {
    display: compact;
    border: 10px solid #ccc;
    box-sizing: border-box;
    height: 150px;
    width: 1015px;
    font-size: 40px;
}
input[type=email], select {
    display: compact;
    border: 10px solid #ccc;
    box-sizing: border-box;
    height: 150px;
    width: 1015px;
    font-size: 40px;
}

input[type=number], select {
    display: compact;
    border: 10px solid #ccc;
    box-sizing: border-box;
    height: 150px;
    width: 315px;
    font-size: 40px;
}

.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #673AB7;
    padding: 8px 15px 8px 15px;
    font-size: 70px;
    color: #fff;
    height: 100px;
    width: 300px;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #D8BFD8;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}

.mainform {
    float: center;
}