body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}

#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}

.page-title{
	text-align: center;
	color: #673AB7;
	padding-left: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 10px;
	margin-bottom:2px;
	text-transform: uppercase;
	background-color: #D8BFD8;
    text-shadow: 1px 1px white;

}

.links{
	color: black;
	background: white;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	height: 80px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 5px;
}

.website {
    margin-top: 5px;
}

.homebody{
    font-style: italic;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    text-align:center;
}

.homebody p
{
    font-style:normal;
}

.homebody ul {
    list-style-type: none;
    padding-left: 0;
    font-size:15px;
}
.homebody li {
    padding-bottom: 4px;
    text-align:center;
    float:none;
}

.words{
	font-size: 12px;
	padding-top: 1px;
	margin-top: 2px;
	margin-bottom: 2px;
}
.home-bar{
    background-color: #333;
    overflow: auto;
    width: 300px;
    position: relative;
    bottom: -16%;
}

.home-bar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.home-bar a:hover {
  background-color: #111;
}

.home-bar a.active {
  background-color: #673AB7;
}

.embedded-container {
    position: relative;
    width: 250px;
    height: 355px;
}

.embedded-container iframe {
    position: absolute;
    text-align: center;
    padding-left: 23px;
    padding-top: 10px;
    padding-right: 23px;
    width: 100%;
    height: 400px;
}

